# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Database (PostgreSQL)
DATABASE_URL="your_database_url"

# Image Upload (Cloudinary)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"

# M-Pesa Daraja (Safaricom)
MPESA_CONSUMER_KEY=G0o6Cgw2Nylxx5g6mQlLBlINyce3yeFsprkiAGBfhj32loiF
MPESA_CONSUMER_SECRET=QarSbN0mj9WmhWqzWhavo6RiZr1cIUdDVl1xTwcWMQexlKDPT82KRCYTE7AlbJnF
MPESA_BUSINESS_SHORT_CODE=174379
MPESA_PASSKEY=LRDOx4wq35gt3OvP3fQFISFYxidzBMDs1GJxDtP3cUupHpyYb8qhEFiwrzK/t2g/BOyHP9nQ8NVWLQba8Nu13rJ52yeO1brzrEOY4LWiAUSszy+IqIL7XVJBvtwBC/JG0ODIBUAGtzIKmojWqwwRNtFjxJYeSWLr7CriKdZHGYXK8VJJXbHsB/tPiTm/Mf93taHVFgUL3iakUD9mJwgSmBVwGN3MvphIWaOZ9ktbd0m+VqcLIZw3z/4QtNGazeUIXJenYN5ZikanM7wJooZ0utt/KK0+sAZwf9lWrJhmQC7zAYtd0IoJncssWy7d9HNhMskSfLEEMzK+5x8oPM9PBw==

# Backend public URL (used for M-Pesa callback)
NEXT_PUBLIC_BACKEND_URL=https://your-deployed-backend.vercel.app

# Frontend URL
FRONTEND_STORE_URL=http://localhost:3001
